@font-face {
    src: url(../font/muli-webfont.woff2);
    font-family: Muli;
}

:root {
    --primary-color: #EC1F46;
    --secondary-color: #0A223D;
    --white-color: #FFFFFF;
    --text-color: #333333;
    --background-color: #F5FAFE;

}

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.5rem;
    box-sizing: border-box;
    font-family: Muli, sans-serif;
    background-color: var(--background-color);
}

.grid {
    width: 1110px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width {
    width: 100%;
    margin: 0 auto;
}

.label__flash-offer {
    background-color: var(--primary-color);
    color: var(--white-color);
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.btn {
    background-color: var(--primary-color);
    color: var(--white-color);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-color: transparent;
    outline: none;
    cursor: pointer;
}


.btn__book-now {

}
