:root {
    --primary-color: #EC1F46;
    --secondary-color: #0A223D;
    --white-color: #FFFFFF;
    --text-color: #333333;
    --background-color: #F5FAFE;

}

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.5rem;
    box-sizing: border-box;
    font-family: muliregular, sans-serif;
    background-color: var(--background-color);
}

.grid {
    width: 1110px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width {
    width: 100%;
    margin: 0 auto;
}

.btn__flash-offer {
    background-color: var(--primary-color);
    text-align: center;
    align-items: center;
    border-radius: 3px;
    color: var(--white-color);
}

.btn__book-now {

}
