@font-face {
    src: url(../font/muli-webfont.woff2);
    font-family: Muli;
}

@font-face {
    src: url(../font/muli-bold-webfont.woff2);
    font-family: Muli-bold;
}

:root {
    --primary-color: #EC1F46;
    --secondary-color: #0A223D;
    --white-color: #FFFFFF;
    --text-color: #333333;
    --background-color: #F5FAFE;

}

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.5rem;
    box-sizing: border-box;
    font-family: Muli, sans-serif;
    background-color: var(--background-color);
}

.grid {
    width: 1110px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width {
    width: 100%;
    margin: 0 auto;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-left: -13px;
    margin-right: -13px;
}

.grid__row-main {    
    padding-top: 22px;
}

.grid__row-footer {
    padding-top: 15px;
}

.grid__column-3 {
    width: 33.333%;
    padding-left: 13px;
    padding-right: 13px;
}

.label__flash-offer {
    background-color: var(--primary-color);
    color: var(--white-color);
    display: flex;
    align-items: center;
    font-weight: 400;
}

.btn {
    background-color: var(--primary-color);
    color: var(--white-color);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-color: transparent;
    outline: none;
    cursor: pointer;
}

.btn__book-now {
    width: 120px;
    height: 40px;
    font-size: 1.4rem;
    border-radius: 4px;

}

.content__list-with-icon {
    display: flex;
    align-items: center;
    padding: 10px 0px;
}

.icon__checked {
    width: 16.5px;
    height: 16.5px;
    border-radius: 50%;
    background-image: url(../img/check.svg);
    background-repeat: no-repeat;
    background-color: var(--text-color);
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 25px;    
}

.check-list {
    font-size: 1.2rem;
    line-height: 1.5rem;
    color: var(--text-color);
}

.voted__five-star {
    display: flex;
}

.voted__five-star img {
    margin-right: 4px;
}

.flex-center {
    display: flex;
    align-items: center;
}

.flex-justify-center {
    justify-content: center;
}

.hotel__name {
    font-family: Muli-bold;
    font-weight: bold;
    font-size: 1.8rem;
    line-height: 2.3rem;
    margin: 6px 0px 27px;
}

.package__info-hotel-price-old {
    font-size: 1.4rem;
    line-height: 1.8rem;
    text-decoration: line-through;
    margin: 0px;
}
.package__info-hotel-price-new {
    font-family: Muli-bold;
    font-weight: bold;
    font-size: 2.4rem;
    line-height: 3.0rem;
    margin: 7px 0px;
}

.icon-with-text {
    padding: 5px 0px;
}

.detail__icon {
    margin-right: 16px;
}

.description-text-with-icon {
    font-size: 1.2rem;
    line-height: 1.5rem;       
}
