/* Header navbar top */

.header__nav-top {
    width: 100;
    height: 60px;
    display: flex;
    align-items: center;
    font-size: 1rem;
    line-height: 1.3rem;
    color: var(--text-color);
}

.header__nav-top-helps--bold {
    font-weight: bold;
    margin-right: 1px;
}


.header__nav-top-gift {
    margin-left: auto;
    display: flex;
}

.header__nav-top-gift-link {
    text-decoration: none;
    display: flex;
    align-items: center;
    color: var(--text-color);    
    margin-top: 4px;
}

.header__nav-top-gift-icon {
    margin-top: 4px;
}

.header__nav-top-gift-name {
    padding-left: 20px;
}

.header__nav-top-program {
    display: flex;
    align-items: center;
    margin-left: 98.75px;
}

.header__nav-top-program-link {
    text-decoration: none;
    display: flex;
    align-items: center;
    color: var(--text-color);    
    margin-top: 4px;
}

.header__nav-top-program-icon {
    margin-top: 4px;
}

.header__nav-top-program-name {
    padding-left: 20px;
}

/* header search */

.header__search-has-full-width {
    background-color: var(--white-color);
}

.header__search {
    display: flex;
    align-items: center;
    height: 120px;
}

.header__search-logo {
    margin-right: 108px;
    margin-top: 6px;
}

.header__search-wrap {
    width: 350px;
    height: 40px;
    display: flex;
    align-items: center;
    border-radius: 6px;
    overflow: hidden;
}

.header__search-wrap-input {
    flex: 1;
    padding-left: 23px;
    height: 100%;
    border: 0px;
    outline: none;
    background-color: #F5FAFE;
    font-size: 1.2rem;
    line-height: 1.5rem;

}

.header__search-wrap-btn {
    width: 65px;
    height: 100%;
    border: 0px;
    outline: none;
    background-color: var(--primary-color);
    cursor: pointer;
}

.header__search-cart {    
    margin-left: 238px;
    margin-left: auto;
    position: relative;
    top: 7px;
    cursor: pointer;
}

.header__search-cart-status {
    position: absolute;
    top: -10px;
    right: -10px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: var(--primary-color);
    display: flex;
}

.header__search-cart-status-num {
    margin: auto;
    font-size: 1rem;
    line-height: 1.3rem;
    color: var(--white-color);
    font-weight: 600;
    position: relative;
    top: -1px;
}

.header__search-user {
    display: flex;
    align-items: center;

}

.header__search-user-avt {
    margin-left: 63px;
    
}

.header__search-user-name {
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: normal;
    margin-left: 18px;
    color: var(--text-color);
}

.header__search-user-icon {
    margin-left: 24px;
    cursor: pointer;
    margin-right: 3px;
}

/* Header navbar main */

.header__nav-main {
    background-color: var(--secondary-color);
    height: 80px;
}

.header__nav-main-list {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px;
    height: 100%;
}

.header__nav-main-list-item {
    text-align: center;
}

.header__nav-main-list-item a {
    font-weight: bold;
    color: var(--white-color);
    text-decoration: none;
    font-size: 1.4rem;
    line-height: 1.8rem;
}

/* sub header */
.main__subheader {
    height: 50px;
}

.main__subheader-wrap {
    height: 100%;
    list-style: none;
    display: flex;
    padding-left: 0;
    align-items: center;
    margin: 0px;
}

.main__subheader-list {
    padding-right: 2px;
}

.main__subheader-list a{
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.0rem;
    line-height: 1.3rem;
}

/* hotel page */

/* hotelpage-top */

.main__hotelpage-top {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.main__hotelpage-top-title {
}

.main__hotelpage-top-title-voted {
    display: flex;
    align-items: flex-end;
}

.main__hotelpage-top-title-voted svg {
    margin-right: 4px;
}

.main__hotelpage-top-title-name {
    position: relative;
}

.main__hotelpage-top-title-name h2 {
    font-weight: bold;
    font-size: 2.4rem;
    line-height: 3.0rem;
    color: var(--text-color);
    margin: 2px 0px;
}

.main__hotelpage-top-title-name-label {
    position: absolute;
    top: 8px;
    right: 50px;
    width: 70px;
    height: 20px;
    font-size: 1rem;
    line-height: 2rem;
    border-radius: 3px;
}

.main__hotelpage-top-title-description {
    margin: 0px;
    font-size: 1.2rem;
    line-height: 1.5rem;

}

.main__hotelpage-top-rating {
    width: 65px;
    height: 45px;
    background-color: var(--primary-color);
    color: var(--white-color);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.main__hotelpage-top-rating-label {
    font-size: .8rem;
    line-height: 1.0rem;
    font-weight: 600;
    padding-top: 6px;
}   

.main__hotelpage-top-rating-scores {
    font-size: 1.4rem;
    font-weight: bold;    
    padding-bottom: 2px;
}

.main__hotelpage-top-rating-scores
.main__hotelpage-top-rating-scores--max {
    font-size: 1.0rem;
}
/* hotelpage-showcase */

.main__hotelpage-showcase {
    width: 100%;
    height: 450px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    font-family: 'Nunito', sans-serif;
}
/* cover img */
.main__hotelpage-gallery-showcase-img {
    background-image: 
    linear-gradient(180deg, rgba(0, 122, 223, 0.48) 0%, rgba(255, 255, 255, 0.128) 100%),
    url(/hotel_booking_project/assets/img/grand_hilton_hotel.png);
    height: 100%;
    width: 728px;
    background-size: cover;    
    border-radius: 8px;
}

/* showcase-info */
.main__hotelpage-showcase-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* info-card */
.main__hotelpage-showcase-info-card {
    width: 350px;
    height: 210px;
    background-color: var(--secondary-color);
    border-radius: 8px;    
    color: var(--white-color);
}

.info-card-description {    
    margin: 29px 26px 10px;
    display: flex;
    justify-content: space-between;
}

.info-card__price p {
    margin: 0px;
}

.info-card__price-start {
    font-size: 1rem;
    line-height: 1.4rem;    
}

.info-card__price-value {
    font-size: 2.4rem;
    line-height: 3.0rem;
    font-weight: 800;
}

.info-card__price-detail {
    font-size: 1.2rem;
    line-height: 1.4rem;
}

.info-card__room {
    color: var(--white-color);
    font-size: 1.2rem;
    width: 80px;
    height: 40px;
}

.info-card__room-guest {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.info-card__room-qnt {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.info-card-quickcall {
    margin: 0px 26px;
    display: flex;
    align-items: center;
    font-size: 1.8rem;
    line-height: 2.5rem;
}
.info-card-quickcall h4 {
    margin: 0px;
    font-weight: 600;
}
.info-card__phone-icon {
    margin: 0px 11px 0 auto;
}

.btn__view-option {
    margin: 0px 26px;
    width: 295px;
    height: 45px;
    border-radius: 4px;
    font-size: 1.4rem;
    line-height: 19px;
    font-weight: 600;
    margin-top: 17px;
}


/* info- */
.main__hotelpage-showcase-info-map {
    width: 347px;
    height: 213px;
    position: relative;

}

.map__zoom {
    width: 17px;
    height: 40px;
    background-color: var(--white-color);
    border-radius: 2px;
    position: absolute;
    top: 30px;
    right: 18px;
    color: var(--text-color);
    text-align: center;
}

.map__zoom  p {
    margin: 0px;
    font-size: 1.4rem;
    line-height: 1.9rem;
}

.map__views {
    width: 145px;
    height: 20px;
    background-color: var(--white-color);
    border-radius: 2px;
    position: absolute;
    bottom: 17px;
    left: 101px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: .7rem;
}

.map__views p {
    margin: 0px 8px;
}

.map__views--current {
    color: #007ADF;
}
    
/* Body navbar */

.main__bodynav {
    margin-top: 67px;
    margin-bottom: 60px;
}

.main__bodynav-wrap {
    padding-left: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.main__bodynav-list-link {
    text-decoration: none;
    font-weight: bold;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: var(--text-color);
    padding-bottom: 13px;
    padding-right: 6px;
}

.main__bodynav-list-link:hover {
    color: var(--primary-color);
}

.main__bodynav-list--active
.main__bodynav-list-link{
    color: var(--primary-color);
    border-bottom: 4px solid var(--primary-color);
}
/* body summery */

.main__body {

}
.main__body-overview {
    
}

.body-overview__highlights {
    width: 538px;
}

.body-overview__header {
    width: 100%;
    height: 50px;
    background-color: var(--secondary-color);    
    display: flex;
    align-items: center;
    
}

.body-overview__header h4{
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;color: var(--white-color);
    margin-left: 24px;
}
.body-overview__list {
    padding-left: 0px;
    display: flex;
    align-items: center;
}

.body-overview__list-item {
    list-style: none;
    display: flex;
    align-items: center;
}

.body-overview__list-item-icon {
    margin-right: 25px;
}
