/* Header navbar top */

.header__nav-top {
    width: 100;
    height: 60px;
    display: flex;
    align-items: center;
    font-size: 1rem;
    line-height: 1.3rem;
    color: var(--text-color);
}

.header__nav-top-helps--bold {
    font-weight: bold;
    margin-right: 1px;
}


.header__nav-top-gift {
    margin-left: auto;
    display: flex;
}

.header__nav-top-gift-link {
    text-decoration: none;
    display: flex;
    align-items: center;
    color: var(--text-color);    
    margin-top: 4px;
}

.header__nav-top-gift-icon {
    margin-top: 4px;
}

.header__nav-top-gift-name {
    padding-left: 20px;
}

.header__nav-top-program {
    display: flex;
    align-items: center;
    margin-left: 98.75px;
}

.header__nav-top-program-link {
    text-decoration: none;
    display: flex;
    align-items: center;
    color: var(--text-color);    
    margin-top: 4px;
}

.header__nav-top-program-icon {
    margin-top: 4px;
}

.header__nav-top-program-name {
    padding-left: 20px;
}

/* header search */

.header__search {
    display: flex;
    align-items: center;
    height: 120px;
}

.header__search-logo {
    margin-right: 108px;
    margin-top: 6px;
}

.header__search-wrap {
    width: 350px;
    height: 40px;
    display: flex;
    align-items: center;
    border-radius: 6px;
    overflow: hidden;
}

.header__search-wrap-input {
    flex: 1;
    padding-left: 23px;
    height: 100%;
    border: 0px;
    outline: none;
    background-color: #F5FAFE;
    font-size: 1.2rem;
    line-height: 1.5rem;

}

.header__search-wrap-btn {
    width: 65px;
    height: 100%;
    border: 0px;
    outline: none;
    background-color: var(--primary-color);
    cursor: pointer;
}

.header__search-cart {    
    margin-left: 238px;
    margin-left: auto;
    position: relative;
    top: 7px;
    cursor: pointer;
}

.header__search-cart-status {
    position: absolute;
    top: -10px;
    right: -10px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: var(--primary-color);
    display: flex;
}

.header__search-cart-status-num {
    margin: auto;
    font-size: 1rem;
    line-height: 1.3rem;
    color: var(--white-color);
    font-weight: 600;
    position: relative;
    top: -1px;
}

.header__search-user {
    display: flex;
    align-items: center;

}

.header__search-user-avt {
    margin-left: 63px;
    
}

.header__search-user-name {
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: normal;
    margin-left: 18px;
    color: var(--text-color);
}

.header__search-user-icon {
    margin-left: 24px;
    cursor: pointer;
    margin-right: 3px;
}
