/* Header navbar top */

.header__nav-top {
    width: 100;
    height: 60px;
    display: flex;
    align-items: center;
    font-size: 1rem;
    line-height: 1.3rem;
    color: var(--text-color);
}

.header__nav-top-helps--bold {
    font-weight: bold;
    margin-right: 1px;
}


.header__nav-top-gift {
    margin-left: auto;
    display: flex;
}

.header__nav-top-gift-link {
    text-decoration: none;
    display: flex;
    align-items: center;
    color: var(--text-color);    
    margin-top: 4px;
}

.header__nav-top-gift-icon {
    margin-top: 4px;
}

.header__nav-top-gift-name {
    padding-left: 20px;
}

.header__nav-top-program {
    display: flex;
    align-items: center;
    margin-left: 98.75px;
}

.header__nav-top-program-link {
    text-decoration: none;
    display: flex;
    align-items: center;
    color: var(--text-color);    
    margin-top: 4px;
}

.header__nav-top-program-icon {
    margin-top: 4px;
}

.header__nav-top-program-name {
    padding-left: 20px;
}

/* header search */

.header__search-has-full-width {
    background-color: var(--white-color);
}

.header__search {
    display: flex;
    align-items: center;
    height: 120px;
}

.header__search-logo {
    margin-right: 108px;
    margin-top: 6px;
}

.header__search-wrap {
    width: 350px;
    height: 40px;
    display: flex;
    align-items: center;
    border-radius: 6px;
    overflow: hidden;
}

.header__search-wrap-input {
    flex: 1;
    padding-left: 23px;
    height: 100%;
    border: 0px;
    outline: none;
    background-color: #F5FAFE;
    font-size: 1.2rem;
    line-height: 1.5rem;

}

.header__search-wrap-btn {
    width: 65px;
    height: 100%;
    border: 0px;
    outline: none;
    background-color: var(--primary-color);
    cursor: pointer;
}

.header__search-cart {    
    margin-left: 238px;
    margin-left: auto;
    position: relative;
    top: 7px;
    cursor: pointer;
}

.header__search-cart-status {
    position: absolute;
    top: -10px;
    right: -10px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: var(--primary-color);
    display: flex;
}

.header__search-cart-status-num {
    margin: auto;
    font-size: 1rem;
    line-height: 1.3rem;
    color: var(--white-color);
    font-weight: 600;
    position: relative;
    top: -1px;
}

.header__search-user {
    display: flex;
    align-items: center;

}

.header__search-user-avt {
    margin-left: 63px;
    
}

.header__search-user-name {
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: normal;
    margin-left: 18px;
    color: var(--text-color);
}

.header__search-user-icon {
    margin-left: 24px;
    cursor: pointer;
    margin-right: 3px;
}

/* Header navbar main */

.header__nav-main {
    background-color: var(--secondary-color);
    height: 80px;
}

.header__nav-main-list {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px;
    height: 100%;
}

.header__nav-main-list-item {
    text-align: center;
}

.header__nav-main-list-item a {
    font-weight: bold;
    color: var(--white-color);
    text-decoration: none;
    font-size: 1.4rem;
    line-height: 1.8rem;
}

/* sub header */
.main__subheader {
    height: 50px;
}

.main__subheader-wrap {
    height: 100%;
    list-style: none;
    display: flex;
    padding-left: 0;
    align-items: center;
    margin: 0px;
}

.main__subheader-list {
    padding-right: 2px;
}

.main__subheader-list a{
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.0rem;
    line-height: 1.3rem;
}

/* hotel page */

/* hotelpage-top */

.main__hotelpage-top {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.main__hotelpage-top-title-name {
    position: relative;
}

.main__hotelpage-top-title-name h2 {
    font-size: 2.4rem;
    line-height: 3.0rem;
    color: var(--text-color);
    margin: 2px 0px;
}

.main__hotelpage-top-title-name-label {
    position: absolute;
    top: 8px;
    right: 50px;
    width: 70px;
    height: 20px;
    font-size: 1rem;
    line-height: 2rem;
    border-radius: 3px; 
}

.main__hotelpage-top-title-description {
    margin: 0px;
    font-size: 1.2rem;
    line-height: 1.5rem;

}

.main__hotelpage-top-rating {
    width: 65px;
    height: 45px;
    background-color: var(--primary-color);
    color: var(--white-color);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.main__hotelpage-top-rating-label {
    font-size: .8rem;
    line-height: 1.0rem;
    padding-top: 6px;
}   

.main__hotelpage-top-rating-scores {
    font-size: 1.4rem;
    font-weight: 700;   
    padding-bottom: 2px;
}

.main__hotelpage-top-rating-scores
.main__hotelpage-top-rating-scores--max {
    font-size: 1.0rem;
}
/* hotelpage-showcase */

.main__hotelpage-showcase {
    width: 100%;
    height: 450px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    font-family: 'Nunito', sans-serif;
}
/* cover img */
.main__hotelpage-gallery-showcase-img {
    background-image: 
    linear-gradient(180deg, rgba(0, 122, 223, 0.48) 0%, rgba(255, 255, 255, 0.128) 100%),
    url(/hotel_booking_project/assets/img/grand_hilton_hotel.png);
    height: 100%;
    width: 728px;
    background-size: cover;    
    border-radius: 8px;
}

/* showcase-info */
.main__hotelpage-showcase-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* info-card */
.main__hotelpage-showcase-info-card {
    width: 350px;
    height: 210px;
    background-color: var(--secondary-color);
    border-radius: 8px;    
    color: var(--white-color);
}

.info-card-description {    
    margin: 29px 26px 10px;
    display: flex;
    justify-content: space-between;
}

.info-card__price p {
    margin: 0px;
}

.info-card__price-start {
    font-size: 1rem;
    line-height: 1.4rem;    
}

.info-card__price-value {
    font-size: 2.4rem;
    line-height: 3.0rem;
    font-weight: 800;
}

.info-card__price-detail {
    font-size: 1.2rem;
    line-height: 1.4rem;
}

.info-card__room {
    color: var(--white-color);
    font-size: 1.2rem;
    width: 80px;
    height: 40px;
}

.info-card__room-guest {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.info-card__room-qnt {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.info-card-quickcall {
    margin: 0px 26px;
    display: flex;
    align-items: center;
    font-size: 1.8rem;
    line-height: 2.5rem;
}
.info-card-quickcall h4 {
    margin: 0px;
    font-weight: 600;
}
.info-card__phone-icon {
    margin: 0px 11px 0 auto;
}

.btn__view-option {
    margin: 0px 26px;
    width: 295px;
    height: 45px;
    border-radius: 4px;
    font-size: 1.4rem;
    line-height: 19px;
    font-weight: 600;
    margin-top: 17px;
}


/* info- */
.main__hotelpage-showcase-info-map {
    width: 347px;
    height: 213px;
    position: relative;

}

.map__zoom {
    width: 17px;
    height: 40px;
    background-color: var(--white-color);
    border-radius: 2px;
    position: absolute;
    top: 30px;
    right: 18px;
    color: var(--text-color);
    text-align: center;
}

.map__zoom  p {
    margin: 0px;
    font-size: 1.4rem;
    line-height: 1.9rem;
}

.map__views {
    width: 145px;
    height: 20px;
    background-color: var(--white-color);
    border-radius: 2px;
    position: absolute;
    bottom: 17px;
    left: 101px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: .7rem;
}

.map__views p {
    margin: 0px 8px;
}

.map__views--current {
    color: #007ADF;
}
    
/* Body navbar */

.main__bodynav {
    margin-top: 67px;
    margin-bottom: 50px;
}

.main__bodynav-wrap {
    padding-left: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.main__bodynav-list-link {
    text-decoration: none;
    font-weight: bold;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: var(--text-color);
    padding-bottom: 13px;
    padding-right: 6px;
}

.main__bodynav-list-link:hover {
    color: var(--primary-color);
}

.main__bodynav-list--active
.main__bodynav-list-link{
    color: var(--primary-color);
    border-bottom: 4px solid var(--primary-color);
}

.main__body-package-summery {
    padding: 0px 0px 50px 0px;
}

.main__body-package-summery-title {
    font-size: 2.4rem;
    line-height: 3.0rem;
    margin: 30px 0px;
}

/* overview */

/* body summery for left element */

.main__body-overview {
    display: flex;
    justify-content: space-between;
    
}

.body-overview__modal {
    width: 538px;
    height: 200px;
    border-radius: 8px;
    overflow: hidden;
}

.body-overview__header {
    width: 100%;
    height: 50px;
    background-color: var(--secondary-color);    
}

.body-overview__header h4{
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: var(--white-color);
    margin-left: 26px;
}
.body-overview__list {
    padding-left: 0px;
    display: flex;
    flex-wrap: wrap;
    height: 150px;
    padding: 18px 0px 15px;
    background-color: var(--white-color);
    margin: 0px;
}

.body-overview__list-item {
    list-style: none;
    display: flex;
    align-items: center;
    width: 50%;
    padding-left: 26px;
}


/* body summery - modify for right element */
.body-overview__list-item--modify {
    list-style: none;
    display: flex;
    align-items: flex-start;
    width: 50%;
    padding-left: 26px
}

.body-overview__list--modify {
    padding-top: 30px;
}

.body-overview__list-item--modify-text{
    width: 170px;
    height: 103px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.body-overview__list-item--modify-text p {
    margin: 0px;
    font-size: 1.2rem;
    line-height: 1.5rem;
    text-align: left;
}

.body-overview__list-item--modify-icon {
    margin-right: 25px;
}

/* details */

.main__body-details {
    width: 100%;
    height: 550px;
    background-color: var(--white-color);
    border-radius: 8px;
    overflow: hidden;
    margin-top: 33px;
}

.main__body-detail-header {
    width: 100%;
    height: 50px;
    background-color: var(--secondary-color);
}

.main__body-detail-header h4{
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: var(--white-color);
    margin-left: 26px;
}

.main__body-detail-main {
    width: 100%;
    height: 320px;
    margin-left: 26px;
    display: flex;
}

.content__box-title {
    font-weight: 600;
    font-size: 1.3rem;
    line-height: 1.6rem;
    color: var(--primary-color);
    margin-bottom: 10px;
}

.content__box-list {
    padding-left: 0px;
    list-style: none;
}

.main__body-detail-border {
    width: 1048px;
    border-top: 1px dashed #E0E0E0;
    margin-left: 26px;
}

.main__body-detail-footer {
    width: 100%;
    height: 180px;
    margin-left: 26px;
}

/* Other Packages */

.main__body-package-other {
    padding: 16px 0px;
}

.main__body-package-other-title {
    font-size: 3.6rem;
    line-height: 4.5rem;
    margin: 40px 0px;
    text-align: center;
}

/* Package row 1 */

.package-row-1 {
    display: flex;
    justify-content: space-between;
    margin: 65px 0px 30px;
    color: var(--white-color);
}

.package-row-2 {
    display: flex;
    justify-content: space-between;
}

.package__large {
    display: flex;
    width: 730px;
    height: 500px;
    border-radius: 8px;
    background-color: var(--secondary-color);
    overflow: hidden;
    position: relative;
}

.package__large-info {
    width: 299px;
    margin: 47px 0px 35px 44px;
}

.package__large-info-hotel-name {
    font-weight: bold;
    font-size: 1.8rem;
    line-height: 2.3rem;
    margin: 6px 0px 27px;
}

.package__large-info-hotel-description {
    font-size: 1.4rem;
    line-height: 2.2rem;
    margin-bottom: 42px;
}

.package__large-info-hotel-detail {
    margin-bottom: 26px;
}

.package__large-flash-offer {
    position: absolute;
    width: 95px;
    height: 30px;
    left: 0px;
    top: 25px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    padding-left: 10px;
    font-size: 1.2rem;
}

.package__large-btn {
    position: absolute;
    right: 20px;
    bottom: 30px;
}


/* package small - modal */

.package__small {
    width: 350px;
    height: 500px;
    background-color: var(--secondary-color);
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    
}

.package__small-content-wrap {
    margin: 20px 0px 0px 32px;
}

.package__small-info-hotel-detail {
    margin: -10px 0px 16px;
}

.package__small-flash-offer {
    position: absolute;
    width: 60px;
    height: 18px;
    left: 0px;
    top: 25px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    padding-left: 9px;
    font-size: 0.8rem;
}

.package__small-btn {
    position: absolute;
    right: 20px;
    bottom: 24px;
}

/* Package row 2 */

.package-row-2 {
    color: var(--white-color);
}

/* body review */
.main__review {    
    margin-top: 95px;
}

.main__review-title {
    text-align: center;
    font-weight: bold;
    font-size: 36px;
    line-height: 45px;
}

.main__review-content {
    width: 731px;
    height: 280px;
    background-color: var(--white-color);
    margin: 115px auto 0px;
    border-radius: 8px;
    position: relative;

}

.infomation__name {
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    color: var(--primary-color);
    padding: 47px 0 0px;
    margin: 0px;
}
 
.infomation__time {
    text-align: center;
    font-size: 1.0rem;
    color: #000;
    margin: 0px;
}

.main__review-content-description {
    width: 537px;
    /* height: 114px; */
    display: flex;
    align-items: center;
    margin: 0px auto;
    text-align: justify;
    font-size: 1.2rem;
    line-height: 1.9rem;
    color: var(--text-color);
    padding: 35px 0px 0px;
}

.main__review-content-avatar {
    position: absolute;
    top: -45px;
    right: 50%;
    transform: translateX(50%);
    height: 90px;
    width: 90px;
    background-image: url(../img/avatar_review.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
}

/* body subscribe  */

.main__subscribe {
    background-image: linear-gradient(0deg, rgba(10, 34, 61, 0.8), rgba(10, 34, 61, 0.8)), url(../img/subscrible.jpg);
    width: 100%;
    height: 260px;    
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 70px; 
}

.main__subscribe-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 731px;
    margin: auto;
}

.subscribe__label {
    color: var(--white-color);
}

.subscribe__label-lower {
    font-weight: 300;
    font-size: 2.4rem;
    line-height: 3.0rem;
    margin: 0px;
}

.subscribe__label-upper {
    font-weight: 600;
    font-size: 3.6rem;
    line-height: 4.5rem;
    margin: 0px;
}

.subscribe__input {
    width: 350px;
    height: 55px;
    border-radius: 4px;
    overflow: hidden;
    display: flex;
}

.subscribe__input-email {
    border: transparent;
    outline: none;
    flex: 1;
    font-weight: 300;
    font-size: 1.4rem;
    line-height: 18rem;
    color: #BDBDBD;
    padding-left: 33px;
}

.subscribe__input-send {
    width: 65px;
    height: 100%;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px; 
}

/* body other activities */

.main__activities {
    margin-bottom: 98px;
}

.main__activities-title {
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    margin: 60px 0px 0px;
    text-transform: uppercase;
}

.main__activities-list {
    display: flex;
    justify-content: space-between;
    color: var(--white-color);
    margin: 57px 0px 0px;
}

.main__activities-list-item {
    width: 255px;
    height: 255px;
    border-radius: 6px;
    position: relative; 
}


.main__activities-list-item-name {
    position: absolute;
    left: 26px;
    bottom: 58px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.0rem;
}

.main__activities-list-btn {
    position: absolute;
    left: 26px;
    bottom: 24px;
    width: 100px;
    height: 30px;
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 1.6rem;
}
/* footer */

.footer {
    width: 100%;
    height: 900px;
    background-color: var(--secondary-color);
    color: var(--white-color);    
    margin-top: 95px;
}

.footer__wrap {
}

.footer__top-list {
    display: flex;
    justify-content: space-between;
    color: var(--white-color);
    width: 100%;
    height: 223px;
    padding-top: 96px;
    box-sizing: content-box;
}

.footer__top-list-item {
    width: 255px;
    height: 255px;
}

.footer__top-list-item-title {
    font-weight: bold;
    font-size: 1.8rem;
    line-height: 2.3rem;
    margin: 10px 0px 20px;
}

.category {
    padding: 0px 0px 12px 0px;
}

.category__item {
    list-style: none;
    margin: -2px;
}

.category__item-link {
    text-decoration: none;
    color: var(--white-color);
    font-size: 1.3rem;
    line-height: 1.5rem;
    padding: 0px 0px;
}

.list-item--modify {
    margin-left: 60px;
}

.social-network-title {
    font-weight: bold;
    font-size: 1.8rem;
    line-height: 2.3rem;
    margin: 0px;
}

.social-network {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.social-network-list {
    margin-left: auto;
    margin-right: -45px;
}

.social-icon {
    margin-right: 10px;
}

.footer__bot-list {
    margin-top: 110px;
}

.footer__bot-list-contact {
    width: 50%;
}

.footer__bot-list-contact-title {
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    text-transform: uppercase;
    margin-top: 0px;
}

.footer__bot-list-contact-description {
    font-size: 1.4rem;
}

.contact {
    font-size: 1.4rem;
    line-height: 2.2rem;
}

.icon-with-text-contact {
    padding: 12px 0px;
    font-size: 1.4rem;
    line-height: 1.9rem;
    color: #BDBDBD;
}


.footer__bot-list-message {    
    margin: -35px 0px 0px 28px;
    width: 50%;
}

.footer__bot-list-message-title {
    font-size: 1.8rem;
    line-height: 2.3rem;
    text-transform: uppercase;
    margin-bottom: 35px;
}

.footer__bot-list-message-input {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.input__info-general {
    display: block;
    width: 255px;
    height: 50px;
    padding-left: 23px;
    font-size: 1.2rem;
    line-height: 1.5rem;
    border-radius: 4px;
    border: transparent;
    outline: none;
}

.input__message {
    width: 100%;
    height: 123px;
    border-radius: 4px;
    border: transparent;
    outline: none;
    padding: 20px 0px 10px 23px;
    font-size: 1.2rem;
    line-height: 1.5rem;
    margin-top: 15px; 
}


.footer__bot-list-message-send {
    margin-top: 15px;
    justify-content: space-between;
}

.message-send__btn {
    width: 165px;
    height: 50px;
    border-radius: 4px;
    font-size: 1.2rem;    
}

.message__required {
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1.5rem;
}

.footer__ending {
    align-items: center;
    justify-content: flex-end;
    margin-top: 87px;
}

.footer__ending-policy {
    padding-left: 0px;
    list-style: none;
    display: flex;
}

.footer__ending-policy-list-link {
    text-decoration: none;
    color: var(--white-color);
    font-size: 1.2rem;
    line-height: 1.5rem;
    padding: 0px 3px;
}


.footer__ending-payment {
    width: 132px;
    height: 22px;
    background-image: url(../img/payment.png);
    background-size: cover;
    margin-left: 280px;
}